<footer class="footer">
    <p>&copy; 2023 Portfolio. All rights reserved. | Designed by <a href="https://www.linkedin.com/in/nicolas-felipe-delgado/" target="_blank">Nicolas Delgado</a></p>
  </footer>
  